header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1000;
    padding: 20px;
    /*Glass bg*/
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);/* Support for Safari */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header h1 {
    color: white;
    cursor:default;
}

.header_nav {
    color: white;
    font-size: medium;
    padding: 10px;
    padding-bottom: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    position: relative; 
}

.header_nav::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 10%; 
    width: 80%; 
    height: 3px;         
    background-color: var(--main-color); 
    border-radius: 10px;     
    opacity: 0;
    transition: opacity 0.4s ease;
}
.header_nav:hover::after,
.header_nav.active::after {
    opacity: 1;           
}

.bt {
    display: flex;
    gap: 20px;
}

.sign-in {
    border: 1.5px solid rgb(255, 255, 255, 0.3);
    color: black;
    background-color: var(--main-color);
    
}
.sign-in:hover{
    background-color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.1);
}